<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fallback</title>
    <link rel="stylesheet" type="text/css" href="css/fallback.css" />
  </head>
  <body>
    <div id="error">
      <div id="box"></div>
      <h3>ERROR 500</h3>
      <p>We Have Encountered <span>INTERNAL</span> SERVER ERROR</p>
      <div style="display: flex;">
        <p  class="dots">Redirecting
          <p class="dots_dot">.</p>
          <p class="dots_dot">.</p>
          <p class="dots_dot">.</p>
        </p>
      </div>
    </div>
    <script>
      setTimeout(() => {
        window.location.replace('/');
      }, 5 * 1000);
    </script>
  </body>
</html>
